#root {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  margin-bottom: 60px;
  width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  color: black;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  border: 1px solid #aaaaaa;
  width: 100px;
  height: 100px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.player {
  display: flex;
  justify-content: center;
  margin: 30px 15px;
  align-items: center;
  width: 10em;
  padding: 1.2em 0;
}

.player.one {
  background-color: #ec4141;
  border: none;
}

.player.two {
  background-color: #4185ec;
  border: none;
}

.player.one:hover {
   background-color: #c71212;
}
.player.two:hover {
   background-color: #0d61e0;

}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000b9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  background-color: aliceblue;
  color: #000;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border: 2px solid #6c6c6c;
}

.modal-window button {
  cursor: pointer;
  border: none;
  background: #2aff91;
  padding: 15px;
}